.btn-link>span, .btn-link>img {
  position: absolute;
  top: 0px;
  text-decoration: none;
  font-size: 33px;
  height: 33px;
}

.navbar-nav {
  color:white;
}

.navbar-nav>li {
  height:100%;
  display: inline-block;
  padding-right: 1.7em;
}

#wrapper {
  width: 100%;
  height: 110%;
  font-size: 20px;
}

#dbitem-name {
  font-size: 24px;
  font-weight: bold;
}

#dbitem-phone {
  font-size: 18px;
}

#dbitem-updated {
  font-size: 12px;
}

#extra-filter-menu {
  color: white;
  background: #3f51b5;
}

#extra-filter-menu>li {
  padding: 0.5em;
}